/1_shepherd/.venv
/3_db/data
/2_load_data/.venv
/4_nn_estimator/.venv
/4_nn_estimator/mlflow/.venv
/4_nn_estimator/mlflow/mlruns
/2_load_data/mlruns
/4_nn_estimator/api/.venv
/4_nn_estimator/api/mlruns
/5_metrics/.venv
/6_octopus/node_modules